In [168]:
import gurobipy as gp
from gurobipy import GRB
import pandas as pd
import re 

# Example 4. PMF (Passenger Mix Flow) model

In [169]:
# Define the inputs

# L: set of flights
flights = pd.read_excel('Group_4_P2_PMF.xlsx', sheet_name='Flight').set_index('Flight Number')

# P: set of passenger itineraries
paths = pd.read_excel('Group_4_P2_PMF.xlsx', sheet_name='Itinerary').set_index('Itin No.')
paths['Leg 2'] = paths['Leg 2'].astype('Int64')

# P_p: set of passenger itineraries with recapture rate from itinerary p
P_p = pd.read_excel('Group_4_P2_PMF.xlsx', sheet_name='Recapture Rate').set_index(['p','r'])

# make a dictionary with the itinerary as the key and the rest as a sub-dictionary
paths = paths.to_dict(orient='index')
flights = flights.to_dict(orient='index')
P_p = P_p.to_dict(orient='index')

path_list = list(paths.keys())
flight_list = list(flights.keys())

# For all paths if 'Leg 1' and 'Leg 2' are numbers then create a list with both legs else, drop the keys from the list, and create a new key called 'Legs'
# else just change the name of the key 'Leg 1' to 'Legs'
for key in path_list:
    legs = []
    if type(paths[key]['Leg 1']) == int and type(paths[key]['Leg 2']) == int:
        legs.append(paths[key]['Leg 1'])
        legs.append(paths[key]['Leg 2'])
        paths[key]['Legs'] = legs
    elif type(paths[key]['Leg 1']) == int:
        legs.append(paths[key]['Leg 1'])
        paths[key]['Legs'] = legs
    del paths[key]['Leg 1']
    del paths[key]['Leg 2']

# Define path 999 with a fare of 0 and a demand of 0 
paths[999] = {'Legs': [], 'Demand': 0, 'Fare': 0}

In [170]:
# s_ip: binary variable indicating whether flight i is in itinerary p
s_ip = {}
for i in flight_list:
    for p in paths:
        s_ip[i,999] = 0
        if i in paths[p]['Legs']:
            s_ip[i,p] = 1
        else:
            s_ip[i,p] = 0

# Q_i: unconstrained demand for flight i = sum s_ip * demand of itinerary p for p in P
Q_i = {}
for i in flight_list:
    Q_i[i] = 0
    for p in paths:
        Q_i[i] += s_ip[i,p] * paths[p]['Demand']

# ds_i demand spill for flight i = Q_i - capacity of flight i
ds_i = {}
for i in flight_list:
    ds_i[i] = Q_i[i] - flights[i]['Capacity']

In [171]:
# Add entries to P_p for path 0 with a recapture rate of 1
for p in paths:
    P_p[p,999] = {'Recapture rate': 1}
    P_p[999,p] = {'Recapture rate': 0}

path_list = list(paths.keys())
flight_list = list(flights.keys())

In [172]:
initial = [999]

In [173]:
# Implementation using column generation algorithm (CGA)

# Define the restricted master problem (RMP)
# All the spillage is reallocated to path 999

# Define the model
m = gp.Model('PMF')

# Define the decision variables
# t_pr: number of passengers that would like to fly on itinerary p and are reallocated to itinerary r
t = {}
for p in path_list:
    for r in initial:
        t[p,r] = m.addVar(name='t_'+str(p)+'_'+str(r), lb=0)

Give me an example of a Itinerary-based Fleet Assignment Problem where column generation is used to reduce the computational needs. But in order to create such problem a procing problem needs to be solved every iteration. i am interested in getting from you how to create the pricing problem

In [174]:
# Define the objective function
# MINIMIZE (double sum of fare_p - bpr * fare_r) * t_pr
of = gp.quicksum((paths[p]['Fare'] - P_p[(p,r)]['Recapture rate'] * paths[r]['Fare']) * t[p,r] for r in initial for p in path_list)
m.setObjective(of, GRB.MINIMIZE)

# Define the constraints
# Constraint 1: sum sum s_ip * t_pr - sum sum s_ip * brp * t_rp >= ds_i for all i but for r = 0 
m.addConstrs((gp.quicksum(s_ip[i,p] * t[p,r] for p in path_list for r in initial) - 
              gp.quicksum(s_ip[i,p] * P_p[(r,p)]['Recapture rate'] * t[p,r] for p in path_list for r in initial) >= 
              ds_i[i] for i in flight_list), name='π')

# Constraint 2: sum t_pr <= Dp for all p
for p in path_list:
    m.addConstr((gp.quicksumt([p,r] <= paths[p]['Demand'] for r in initial)), name='σ')

# Update the model
m.update()

# Solve the model
m.optimize()

Gurobi Optimizer version 10.0.3 build v10.0.3rc0 (mac64[x86])

CPU model: Intel(R) Core(TM) i5-1038NG7 CPU @ 2.00GHz
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 1308 rows, 550 columns and 1990 nonzeros
Model fingerprint: 0x86bbed67
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [4e+01, 3e+02]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e+00, 2e+02]
Presolve removed 1287 rows and 431 columns
Presolve time: 0.01s
Presolved: 21 rows, 119 columns, 129 nonzeros

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    4.1035000e+04   1.741250e+02   0.000000e+00      0s
      26    1.3029500e+05   0.000000e+00   0.000000e+00      0s

Solved in 26 iterations and 0.02 seconds (0.00 work units)
Optimal objective  1.302950000e+05

In [175]:
# Print the optimal objective value and the decision variables t_pr and the dual variables
print('Optimal objective value: %g' % m.objVal)
print('Optimal solution:')
for v in m.getVars():
    if v.x > 0:
        print('%s = %g' % (v.varName, v.x))

print('Dual variables:')
for c in m.getConstrs():
    if c.Pi != 0:
        print('%s = %g' % (c.ConstrName, c.Pi))

# Save dual variables in a dictionary
pi_dual = {}
for c in m.getConstrs():
    if c.constrName[0] == 'π':
        # get only the flight number from the constraint name
        flight_num_pi = int(re.findall(r'\d+', c.ConstrName)[0])    
        pi_dual[flight_num_pi] = c.Pi

sigma_dual = {}
for c in m.getConstrs():
    if c.constrName[0] == 'σ':
        path_num_sigma = int(re.findall(r'\d+', c.ConstrName)[0])    
        sigma_dual[path_num_sigma] = c.Pi

Optimal objective value: 130295
Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_65_999 = 19
t_69_999 = 1
t_80_999 = 14
t_112_999 = 24
t_118_999 = 10
t_119_999 = 8
t_124_999 = 23
t_125_999 = 20
t_126_999 = 15
t_127_999 = 12
t_128_999 = 10
t_129_999 = 30
t_130_999 = 19
t_203_999 = 37
t_227_999 = 53
t_228_999 = 12
t_230_999 = 9
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 12
t_266_999 = 28
t_269_999 = 4
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_304_999 = 19
t_312_999 = 34
t_325_999 = 18
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_386_999 = 11
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
Dual variables:
π[1133] = 80
π[1240] = 99
π[1241] = 47
π[1248] = 107
π[1249] = 29
π[1252] = 1
π[1253] = 50
π[1256] = 3
π[1303] = 262
π[1446] = 98
π[1447] = 99
π[1462] = 92
π[1470] = 90
π[1472] = 105
π[1473] = 5
π[1474] = 99
π[1475] = 108
π[1477] = 48
π[1478] = 108
π[1833] = 45
π[1836] = 94
σ[19,999] = -3
σ[80,999] = -7
σ[124,999] = -12
σ[126,999] = -13
σ[127,999] = -13
σ[129,999] = -1
σ[130,999] = -1
σ[203,999] = -1
σ[227,999] = -19
σ[232,999] = -1
σ[233,999] = -2
σ[266,999] = -4
σ[271,999] = -4
σ[300,999] = -1
σ[302,999] = -5
σ[325,999] = -2
σ[334,999] = -5
σ[341,999] = -14
σ[342,999] = -4
σ[346,999] = -77
σ[347,999] = -1
σ[350,999] = -41
σ[357,999] = -8
σ[375,999] = -8
σ[380,999] = -2
σ[382,999] = -5
σ[390,999] = -3
σ[393,999] = -8
σ[409,999] = -23
σ[431,999] = -8
σ[443,999] = -16
σ[444,999] = -111
σ[445,999] = -1
σ[446,999] = -14
σ[447,999] = -3
σ[448,999] = -10
σ[483,999] = -38

In [181]:
def PMF_n_iters(pi, sigma, n_iters, paths, path_list, flight_list, P_p, initial, current_pairs = [], n=0):
    n += 1
    print('Iteration number: ', n)
    if n > n_iters:
        print('Max number of iterations reached')
        return ":("

    tpr_prime = {}
    # tpr = (fare_p - sum (π_i) for i being each flight in path p) - bpr * (fare_r - sum (π_j) for j being each flight in path p)) - σ_p
    for p,r in P_p.keys():
        t_prime_pr = ((paths[p]['Fare'] - sum(pi[i] for i in paths[p]['Legs'])) -
                        (P_p[(p,r)]['Recapture rate']) *
                        (paths[r]['Fare'] - sum(pi[j] for j in paths[r]['Legs'])) -
                        (sigma[p]))
        if t_prime_pr < 0:
            tpr_prime[p,r] = t_prime_pr
            print(str(p)+'->'+str(r)+': ', t_prime_pr)
    #print('tpr_prime: ', tpr_prime)
    new_pairs = list(tpr_prime.keys())
    current_pairs.extend(new_pairs)

    if len(new_pairs) == 0:
        print('No new pairs, optimal solution found in previous iteration')
    
    if len(new_pairs) > 0:
        print('New pairs: ', new_pairs)
        m_n = gp.Model(str(n)+'th PMF')
        # Define the decision variables
        # t_pr: number of passengers that would like to fly on itinerary p and are reallocated to itinerary r
        t = {}
        for p in path_list:
            for r in initial:
                t[p,r] = m_n.addVar(name='t_'+str(p)+'_'+str(r),vtype = GRB.CONTINUOUS)

        # Add the new columns to the RMP
        for p,r in current_pairs:
            t[p,r] = m_n.addVar(name='t_' + str(p) +'_'+ str(r), vtype = GRB.CONTINUOUS)
        m_n.update()

        # Update the objective function
        of  = gp.quicksum((paths[p]['Fare'] - P_p[(p,r)]['Recapture rate'] * paths[r]['Fare']) * t[p,r] for r in initial for p in path_list)
        of += gp.quicksum((paths[p]['Fare'] - P_p[(p,r)]['Recapture rate'] * paths[r]['Fare']) * t[p,r] for p,r in current_pairs)
        m_n.setObjective(of, GRB.MINIMIZE)

        # Update the constraints
        m_n.addConstrs((gp.quicksum(s_ip[i, p] * t[p,r] for p in path_list for r in initial) +
                    gp.quicksum(s_ip[i, p] * t[p,r] for p, r in current_pairs) -
                    gp.quicksum(s_ip[i, r] * P_p[(p, r)]['Recapture rate'] * t[p,r] for p,r in current_pairs) >=
                    ds_i[i] for i in flight_list), name='π')

        # Constraint 2: sum t_pr <= Dp for all p
        m_n.addConstrs((t[p,r] <= paths[p]['Demand'] for p in path_list for r in initial), name='σ')
        # Constraint 3: sum t_pr >= 0 for new pairs
        m_n.addConstrs((t[p,r] <= paths[p]['Demand'] for p, r in current_pairs), name='σ')

        # Constraint 4: sum t_pr >= 0 for all p
        m_n.addConstrs((t[p,r] >= 0 for p in path_list for r in initial), name='c3')
        # Constraint 5: sum t_pr >= 0 for new pairs
        m_n.addConstrs((t[p,r] >= 0 for p, r in current_pairs), name='c3')

        # Update the model
        m_n.update()

        # Solve the model but dont show the output
        m_n.Params.OutputFlag = 0
        m_n.optimize()

        # Print the optimal objective value and the decision variables t_pr and the dual variables
        print('Optimal objective value: %g' % m_n.objVal)
        print('\nOptimal solution:')
        for v in m_n.getVars():
            if v.x > 0:
                print('%s = %g' % (v.varName, v.x))

        # print('\nDual variables:')
        # for c in m_n.getConstrs():
        #     if c.Pi != 0:
        #         print('%s = %g' % (c.ConstrName, c.Pi))

        # Save dual variables in a dictionary
        pi_new = {}
        for c in m_n.getConstrs():
            if c.constrName[0] == 'π':
                # get only the flight number from the constraint name
                flight_num_pi = int(re.findall(r'\d+', c.ConstrName)[0])    
                pi_new[flight_num_pi] = c.Pi

        sigma_new = {}
        for c in m_n.getConstrs():
            if c.constrName[0] == 'σ':
                path_num_sigma = int(re.findall(r'\d+', c.ConstrName)[0])    
                sigma_new[path_num_sigma] = c.Pi
        
        print('End of iteration number: ', n, '\n')
        PMF_n_iters(pi = pi_new,
                    sigma = sigma_new, 
                    n_iters = n_iters, 
                    paths = paths, 
                    path_list = path_list, 
                    flight_list = flight_list, 
                    P_p = P_p, 
                    initial = initial, 
                    current_pairs = current_pairs, 
                    n=n)

In [182]:
PMF_n_iters(pi_dual, sigma_dual, 50, paths=paths, path_list=path_list, flight_list=flight_list, P_p=P_p, initial = initial, current_pairs = [], n=0)

Iteration number:  1
80->58:  -2.8000000000000007
117->115:  -1.08
117->120:  -2.64
126->72:  -0.5999999999999996
128->72:  -0.7000000000000001
304->267:  -0.92
312->251:  -16.96
338->279:  -14.559999999999999
New pairs:  [(80, 58), (117, 115), (117, 120), (126, 72), (128, 72), (304, 267), (312, 251), (338, 279)]
Optimal objective value: 129138

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_65_999 = 9.9
t_69_999 = 2.8
t_80_999 = 14
t_112_999 = 24
t_114_999 = 4.9
t_124_999 = 23
t_125_999 = 15.1
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 18.9
t_203_999 = 37
t_227_999 = 53
t_229_999 = 12
t_230_999 = 9
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 23.52
t_265_999 = 0.37
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_325_999 = 16
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_353_999 = 10
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_80_58 = 14
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_304_267 = 19
t_312_251 = 36
t_338_279 = 11
End of iteration number:  1

Iteration number:  2
80->58:  -3.552713678800501e-15
265->123:  -0.32
304->267:  -2.3314683517128287e-15
312->251:  -7.105427357601002e-15
New pairs:  [(80, 58), (265, 123), (304, 267), (312, 251)]
Optimal objective value: 128790

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_65_999 = 0.8
t_69_999 = 2.8
t_80_999 = 14
t_112_999 = 24
t_114_999 = 4.8816
t_118_999 = 0.0184
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_229_999 = 14
t_230_999 = 7
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 14
t_265_123 = 0.37
t_304_267 = 9.5
t_312_251 = 26
End of iteration number:  2

Iteration number:  3
80->58:  -9.8
265->123:  -6.827871601444713e-15
304->267:  -1.7763568394002505e-15
312->251:  -1.199040866595169e-14
80->999:  -7.0
New pairs:  [(80, 58), (265, 123), (304, 267), (312, 251), (80, 999)]
Optimal objective value: 128711

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_69_999 = 2.8
t_111_999 = 0.0184
t_112_999 = 24
t_114_999 = 4.8816
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_228_999 = 16
t_230_999 = 5
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_353_999 = 10
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 14
t_265_123 = 0.185
t_304_267 = 6.33333
t_312_251 = 17.3333
t_80_999 = 2.85
End of iteration number:  3

Iteration number:  4
80->58:  -5.25
265->123:  -6.827871601444713e-15
304->267:  -1.7763568394002505e-15
312->251:  -1.199040866595169e-14
New pairs:  [(80, 58), (265, 123), (304, 267), (312, 251)]
Optimal objective value: 128665

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_69_999 = 2.8
t_112_999 = 24
t_114_999 = 4.8816
t_118_999 = 0.0184
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_228_999 = 16
t_229_999 = 5
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 12.6923
t_265_123 = 0.123333
t_304_267 = 4.75
t_312_251 = 13
End of iteration number:  4

Iteration number:  5
80->58:  -1.5987211554602254e-14
265->123:  -6.827871601444713e-15
304->267:  -1.7763568394002505e-15
312->251:  -1.199040866595169e-14
New pairs:  [(80, 58), (265, 123), (304, 267), (312, 251)]
Optimal objective value: 128665

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_69_999 = 2.8
t_112_999 = 24
t_114_999 = 4.8816
t_118_999 = 0.0184
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_228_999 = 16
t_229_999 = 5
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 10.1538
t_265_123 = 0.0925
t_304_267 = 3.8
t_312_251 = 10.4
End of iteration number:  5

Iteration number:  6
80->58:  -7.105427357601002e-15
265->123:  -6.827871601444713e-15
304->267:  -1.7763568394002505e-15
312->251:  -1.199040866595169e-14
New pairs:  [(80, 58), (265, 123), (304, 267), (312, 251)]
Optimal objective value: 128665

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_69_999 = 2.8
t_112_999 = 24
t_114_999 = 4.8816
t_118_999 = 0.0184
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_228_999 = 16
t_229_999 = 5
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 8.46154
t_265_123 = 0.074
t_304_267 = 3.16667
t_312_251 = 8.66667
End of iteration number:  6

Iteration number:  7
265->123:  -6.827871601444713e-15
304->267:  -1.7763568394002505e-15
312->251:  -1.199040866595169e-14
New pairs:  [(265, 123), (304, 267), (312, 251)]
Optimal objective value: 128665

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_69_999 = 2.8
t_112_999 = 24
t_114_999 = 4.8816
t_118_999 = 0.0184
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_228_999 = 16
t_229_999 = 5
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 8.46154
t_265_123 = 0.0616667
t_304_267 = 2.71429
t_312_251 = 7.42857
End of iteration number:  7

Iteration number:  8
304->267:  -1.9206858326015208e-14
New pairs:  [(304, 267)]
Optimal objective value: 128665

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_69_999 = 2.8
t_112_999 = 24
t_114_999 = 4.8816
t_119_999 = 0.0184
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_229_999 = 12
t_230_999 = 9
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 8.46154
t_265_123 = 0.0616667
t_312_251 = 7.42857
t_304_267 = 2.375
End of iteration number:  8

Iteration number:  9
304->267:  -4.9960036108132044e-15
New pairs:  [(304, 267)]
Optimal objective value: 128665

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_69_999 = 2.8
t_112_999 = 24
t_114_999 = 4.8816
t_119_999 = 0.0184
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_229_999 = 12
t_230_999 = 9
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 8.46154
t_265_123 = 0.0616667
t_312_251 = 7.42857
t_304_267 = 2.11111
End of iteration number:  9

Iteration number:  10
304->267:  -4.9960036108132044e-15
New pairs:  [(304, 267)]
Optimal objective value: 128665

Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_69_999 = 2.8
t_112_999 = 24
t_114_999 = 4.8816
t_119_999 = 0.0184
t_124_999 = 23
t_125_999 = 15.1184
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 19
t_147_999 = 0.64
t_203_999 = 37
t_227_999 = 53
t_229_999 = 12
t_230_999 = 9
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 28
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_345_999 = 10
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_338_279 = 11
t_80_58 = 8.46154
t_265_123 = 0.0616667
t_312_251 = 7.42857
t_304_267 = 1.9
End of iteration number:  10

Iteration number:  11
No new pairs, optimal solution found in previous iteration

# Testing Code

In [158]:
# Create the pricing problem (PP)

tpr_prime = {}
# tpr = (fare_p - sum (π_i) for i being each flight in path p) - bpr * (fare_r - sum (π_j) for j being each flight in path p)) - σ_p
for p,r in P_p.keys():
    t_prime_pr = ((paths[p]['Fare'] - sum(pi_dual[i] for i in paths[p]['Legs'])) -
                      (P_p[(p,r)]['Recapture rate']) *
                      (paths[r]['Fare'] - sum(pi_dual[j] for j in paths[r]['Legs'])) -
                      (sigma_dual[p]))
    if t_prime_pr < 0:
        tpr_prime[p,r] = t_prime_pr

new_pairs = list(tpr_prime.keys())

# Add the new columns to the model
new_p = []
for p,r in new_pairs:
    new_p.append(p)

In [159]:
m2 = gp.Model('2nd PMF')

# Define the decision variables
# t_pr: number of passengers that would like to fly on itinerary p and are reallocated to itinerary r
t = {}
for p in path_list:
    for r in initial:
        t[p,r] = m2.addVar(name='t_'+str(p)+'_'+str(r))

# Add the new columns to the RMP
for p,r in new_pairs:
    t[p,r] = m2.addVar(name='t_' + str(p) +'_'+ str(r), lb =0)
m2.update()

# Update the objective function
of  = gp.quicksum((paths[p]['Fare'] - P_p[(p,r)]['Recapture rate'] * paths[r]['Fare']) * t[p,r] for r in initial for p in path_list)
of += gp.quicksum((paths[p]['Fare'] - P_p[(p,r)]['Recapture rate'] * paths[r]['Fare']) * t[p,r] for p,r in new_pairs)
m2.setObjective(of, GRB.MINIMIZE)

# Update the constraints
m2.addConstrs((gp.quicksum(s_ip[i, p] * t[p,r] for p in path_list for r in initial) +
              gp.quicksum(s_ip[i, p] * t[p,r] for p, r in new_pairs) -
              gp.quicksum(s_ip[i, r] * P_p[(p, r)]['Recapture rate'] * t[p,r] for p,r in new_pairs) >=
               ds_i[i] for i in flight_list), name='π')

# Constraint 2: sum t_pr <= Dp for all p
m2.addConstrs((t[p,r] <= paths[p]['Demand'] for p in path_list for r in initial), name='σ')
# Constraint 3: sum t_pr >= 0 for new pairs
m2.addConstrs((t[p,r] <= paths[p]['Demand'] for p, r in new_pairs), name='σ')

# Update the model
m2.update()

# Solve the model
m2.optimize()

Gurobi Optimizer version 10.0.3 build v10.0.3rc0 (mac64[x86])

CPU model: Intel(R) Core(TM) i5-1038NG7 CPU @ 2.00GHz
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads

Optimize a model with 766 rows, 558 columns and 1477 nonzeros
Model fingerprint: 0xd3020dcd
Coefficient statistics:
  Matrix range     [1e-01, 1e+00]
  Objective range  [3e+01, 3e+02]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e+00, 2e+02]
Presolve removed 745 rows and 434 columns
Presolve time: 0.01s
Presolved: 21 rows, 124 columns, 138 nonzeros

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    5.2965440e+04   1.589875e+02   0.000000e+00      0s
Extra simplex iterations after uncrush: 1
      27    1.2913777e+05   0.000000e+00   0.000000e+00      0s

Solved in 27 iterations and 0.02 seconds (0.00 work units)
Optimal objective  1.291377700e+05

In [160]:
# Print the optimal objective value and the decision variables t_pr and the dual variables
print('Optimal objective value: %g' % m2.objVal)
print('Optimal solution:')
for v in m2.getVars():
    if v.x > 0:
        print('%s = %g' % (v.varName, v.x))

print('Dual variables:')
for c in m2.getConstrs():
    if c.Pi != 0:
        print('%s = %g' % (c.ConstrName, c.Pi))

# Save dual variables in a dictionary
pi_dual = {}
for c in m2.getConstrs():
    if c.constrName[0] == 'π':
        # get only the flight number from the constraint name
        flight_num_pi = int(re.findall(r'\d+', c.ConstrName)[0])    
        pi_dual[flight_num_pi] = c.Pi

sigma_dual = {}
for c in m2.getConstrs():
    if c.constrName[0] == 'σ':
        path_num_sigma = int(re.findall(r'\d+', c.ConstrName)[0])    
        sigma_dual[path_num_sigma] = c.Pi

Optimal objective value: 129138
Optimal solution:
t_9_999 = 5
t_19_999 = 26
t_48_999 = 64
t_65_999 = 9.9
t_69_999 = 2.8
t_80_999 = 14
t_112_999 = 24
t_114_999 = 4.9
t_124_999 = 23
t_125_999 = 15.1
t_126_999 = 15
t_127_999 = 12
t_129_999 = 30
t_130_999 = 18.9
t_203_999 = 37
t_227_999 = 53
t_229_999 = 12
t_230_999 = 9
t_231_999 = 24
t_232_999 = 18
t_233_999 = 5
t_241_999 = 23.52
t_265_999 = 0.37
t_266_999 = 28
t_269_999 = 8
t_271_999 = 22
t_300_999 = 28
t_301_999 = 24
t_302_999 = 12
t_325_999 = 16
t_334_999 = 27
t_341_999 = 8
t_342_999 = 5
t_346_999 = 43
t_347_999 = 14
t_350_999 = 60
t_353_999 = 10
t_357_999 = 19
t_375_999 = 37
t_380_999 = 9
t_382_999 = 20
t_390_999 = 19
t_393_999 = 26
t_409_999 = 43
t_410_999 = 17
t_416_999 = 19
t_431_999 = 18
t_434_999 = 56
t_442_999 = 14
t_443_999 = 23
t_444_999 = 79
t_445_999 = 8
t_446_999 = 26
t_447_999 = 19
t_448_999 = 14
t_478_999 = 12
t_483_999 = 28
t_80_58 = 14
t_117_115 = 10
t_117_120 = 10
t_126_72 = 15
t_304_267 = 19
t_312_251 = 36
t_338_279 = 11
Dual variables:
π[1133] = 80
π[1240] = 99
π[1241] = 47
π[1248] = 107
π[1249] = 29
π[1252] = 2
π[1253] = 50
π[1256] = 3.69
π[1303] = 262
π[1446] = 98
π[1447] = 100
π[1462] = 92
π[1470] = 90
π[1472] = 104
π[1473] = 5
π[1474] = 98.31
π[1475] = 106
π[1477] = 48
π[1478] = 108
π[1833] = 45
π[1836] = 90
σ[19,999] = -3
σ[80,999] = -7
σ[124,999] = -11
σ[126,999] = -12
σ[127,999] = -12
σ[203,999] = -1
σ[227,999] = -19
σ[232,999] = -1
σ[233,999] = -2
σ[266,999] = -5
σ[269,999] = -1
σ[271,999] = -5
σ[300,999] = -0.31
σ[302,999] = -4.31
σ[334,999] = -3
σ[341,999] = -12
σ[346,999] = -73
σ[347,999] = -1
σ[350,999] = -41
σ[357,999] = -6
σ[375,999] = -8
σ[380,999] = -2
σ[382,999] = -3
σ[390,999] = -3
σ[393,999] = -6
σ[409,999] = -23
σ[431,999] = -8
σ[443,999] = -16
σ[444,999] = -111
σ[445,999] = -1
σ[446,999] = -14
σ[447,999] = -3
σ[448,999] = -10
σ[483,999] = -38
σ[80,58] = -9.8
σ[117,115] = -1.08
σ[117,120] = -2.64
σ[126,72] = -12.6
σ[312,251] = -14.96
σ[338,279] = -10.56

In [161]:
# Constraints test
for i in flight_list:
    print('Flight number: ', i)
    for p in path_list:
        for r in initial:
            if s_ip[i,p] == 1:
                print(s_ip[i,p] * t[p,r])
    print('end sum 1')    
    for p, r in new_pairs:
        if s_ip[i,p] == 1:
            print(s_ip[i, p] * t[p,r])
    print('end sum 2')
    for p, r in new_pairs:
        if s_ip[i, r] == 1:
            print(s_ip[i, r] * P_p[(p, r)]['Recapture rate'] * t[p,r])
    print('end sum 3')
    print(ds_i[i], '\n')

Flight number:  1132
t_421_999
t_548_999
end sum 1
end sum 2
end sum 3
-125

Flight number:  1133
t_408_999
t_409_999
t_410_999
end sum 1
end sum 2
end sum 3
60

Flight number:  1140
t_513_999
end sum 1
end sum 2
end sum 3
-204

Flight number:  1160
t_468_999
t_476_999
t_496_999
t_544_999
end sum 1
end sum 2
end sum 3
-90

Flight number:  1161
t_326_999
end sum 1
end sum 2
end sum 3
-113

Flight number:  1240
t_9_999
t_19_999
t_37_999
t_82_999
end sum 1
end sum 2
end sum 3
31

Flight number:  1241
t_224_999
t_225_999
t_226_999
t_227_999
t_228_999
t_229_999
t_230_999
t_231_999
t_232_999
t_233_999
end sum 1
end sum 2
end sum 3
121

Flight number:  1248
t_350_999
t_375_999
t_380_999
t_390_999
t_401_999
t_416_999
t_431_999
t_438_999
t_444_999
t_505_999
end sum 1
end sum 2
end sum 3
241

Flight number:  1249
t_46_999
t_47_999
t_48_999
t_49_999
t_50_999
t_51_999
end sum 1
end sum 2
end sum 3
64

Flight number:  1252
t_95_999
t_98_999
t_108_999
t_114_999
t_125_999
t_134_999
t_152_999
t_164_999
t_247_999
end sum 1
end sum 2
end sum 3
20

Flight number:  1253
t_343_999
t_344_999
t_345_999
t_346_999
t_347_999
t_348_999
t_349_999
t_350_999
t_351_999
t_352_999
t_353_999
t_354_999
end sum 1
end sum 2
end sum 3
127

Flight number:  1254
t_459_999
t_467_999
t_489_999
t_494_999
t_532_999
end sum 1
end sum 2
end sum 3
-129

Flight number:  1255
t_3_999
t_4_999
t_5_999
end sum 1
end sum 2
end sum 3
-149

Flight number:  1256
t_281_999
t_288_999
t_301_999
t_308_999
t_323_999
t_424_999
end sum 1
end sum 2
end sum 3
24

Flight number:  1257
t_517_999
end sum 1
end sum 2
end sum 3
-94

Flight number:  1260
t_2_999
t_5_999
t_13_999
t_85_999
t_410_999
end sum 1
end sum 2
end sum 3
-32

Flight number:  1261
t_171_999
t_172_999
t_173_999
t_174_999
t_175_999
t_176_999
t_177_999
t_178_999
t_179_999
t_180_999
end sum 1
end sum 2
end sum 3
-35

Flight number:  1262
t_280_999
t_287_999
t_300_999
t_307_999
t_322_999
t_422_999
end sum 1
end sum 2
end sum 3
-58

Flight number:  1263
t_492_999
t_493_999
t_494_999
t_495_999
t_496_999
t_497_999
t_498_999
end sum 1
end sum 2
end sum 3
-35

Flight number:  1292
t_8_999
t_17_999
t_35_999
t_75_999
end sum 1
end sum 2
end sum 3
-87

Flight number:  1293
t_200_999
t_201_999
t_202_999
t_203_999
t_204_999
t_205_999
t_206_999
t_207_999
t_208_999
end sum 1
end sum 2
end sum 3
30

Flight number:  1302
t_469_999
t_497_999
t_545_999
end sum 1
end sum 2
end sum 3
-43

Flight number:  1303
t_434_999
end sum 1
end sum 2
end sum 3
56

Flight number:  1304
t_498_999
t_546_999
end sum 1
end sum 2
end sum 3
-184

Flight number:  1305
t_209_999
t_210_999
end sum 1
end sum 2
end sum 3
-122

Flight number:  1322
t_28_999
t_103_999
end sum 1
end sum 2
end sum 3
-55

Flight number:  1323
t_507_999
end sum 1
end sum 2
end sum 3
-106

Flight number:  1360
t_276_999
end sum 1
end sum 2
end sum 3
-150

Flight number:  1361
t_520_999
t_521_999
end sum 1
end sum 2
end sum 3
-122

Flight number:  1362
t_495_999
t_538_999
end sum 1
end sum 2
end sum 3
-186

Flight number:  1363
t_11_999
t_12_999
t_13_999
end sum 1
end sum 2
end sum 3
-183

Flight number:  1364
t_319_999
t_404_999
t_499_999
end sum 1
end sum 2
end sum 3
-103

Flight number:  1365
t_0_999
t_1_999
t_2_999
end sum 1
end sum 2
end sum 3
-140

Flight number:  1376
t_27_999
t_100_999
end sum 1
end sum 2
end sum 3
-48

Flight number:  1377
t_420_999
t_421_999
end sum 1
end sum 2
end sum 3
-63

Flight number:  1382
t_88_999
end sum 1
end sum 2
end sum 3
-182

Flight number:  1402
t_54_999
t_61_999
t_91_999
end sum 1
end sum 2
end sum 3
-129

Flight number:  1403
t_211_999
t_212_999
t_213_999
t_214_999
t_215_999
t_216_999
t_217_999
t_218_999
end sum 1
end sum 2
end sum 3
-109

Flight number:  1406
t_15_999
t_33_999
t_59_999
end sum 1
end sum 2
end sum 3
-161

Flight number:  1407
t_104_999
t_105_999
t_106_999
t_107_999
t_108_999
t_109_999
end sum 1
end sum 2
end sum 3
-69

Flight number:  1408
t_352_999
t_376_999
t_391_999
t_402_999
t_417_999
t_432_999
t_446_999
t_450_999
t_508_999
end sum 1
end sum 2
end sum 3
-24

Flight number:  1409
t_539_999
end sum 1
end sum 2
end sum 3
-180

Flight number:  1410
t_291_999
t_304_999
t_311_999
t_324_999
t_333_999
t_356_999
t_455_999
end sum 1
t_304_267
end sum 2
end sum 3
-64

Flight number:  1411
t_509_999
t_510_999
t_511_999
end sum 1
end sum 2
end sum 3
-136

Flight number:  1412
t_47_999
t_57_999
t_64_999
t_71_999
t_79_999
t_131_999
end sum 1
end sum 2
end sum 3
-55

Flight number:  1413
t_255_999
t_256_999
t_257_999
t_258_999
t_259_999
t_260_999
t_261_999
end sum 1
end sum 2
end sum 3
-111

Flight number:  1422
t_148_999
t_204_999
t_228_999
t_242_999
t_252_999
t_267_999
t_329_999
end sum 1
end sum 2
0.23 t_304_267
end sum 3
-102

Flight number:  1423
t_435_999
t_436_999
t_437_999
t_438_999
t_439_999
t_440_999
end sum 1
end sum 2
end sum 3
-67

Flight number:  1432
t_454_999
t_472_999
t_479_999
t_484_999
t_531_999
end sum 1
end sum 2
end sum 3
-145

Flight number:  1434
t_143_999
t_159_999
t_170_999
t_177_999
t_189_999
t_216_999
t_284_999
end sum 1
end sum 2
end sum 3
-124

Flight number:  1435
t_392_999
t_393_999
t_394_999
t_395_999
t_396_999
t_397_999
t_398_999
t_399_999
t_400_999
t_401_999
t_402_999
end sum 1
end sum 2
end sum 3
-59

Flight number:  1436
t_353_999
t_377_999
t_418_999
t_439_999
t_447_999
t_451_999
t_512_999
end sum 1
end sum 2
end sum 3
-95

Flight number:  1437
t_543_999
end sum 1
end sum 2
end sum 3
-184

Flight number:  1446
t_48_999
t_58_999
t_65_999
t_80_999
t_137_999
end sum 1
t_80_58
end sum 2
0.35 t_80_58
end sum 3
97

Flight number:  1447
t_264_999
t_265_999
t_266_999
t_267_999
t_268_999
t_269_999
t_270_999
t_271_999
t_272_999
end sum 1
end sum 2
0.23 t_304_267
end sum 3
54

Flight number:  1451
t_154_999
t_155_999
t_156_999
t_157_999
t_158_999
t_159_999
t_160_999
t_161_999
end sum 1
end sum 2
end sum 3
-67

Flight number:  1454
t_50_999
t_81_999
t_93_999
t_105_999
t_219_999
end sum 1
end sum 2
end sum 3
-86

Flight number:  1455
t_285_999
t_286_999
t_287_999
t_288_999
t_289_999
t_290_999
t_291_999
t_292_999
end sum 1
end sum 2
end sum 3
-31

Flight number:  1456
t_146_999
t_198_999
t_202_999
t_218_999
t_226_999
t_240_999
t_250_999
t_257_999
t_266_999
t_327_999
end sum 1
end sum 2
end sum 3
-49

Flight number:  1457
t_449_999
t_450_999
t_451_999
t_452_999
t_453_999
t_454_999
end sum 1
end sum 2
end sum 3
-71

Flight number:  1458
t_305_999
t_313_999
t_335_999
t_358_999
t_383_999
t_394_999
t_462_999
end sum 1
end sum 2
end sum 3
-40

Flight number:  1460
t_118_999
t_129_999
t_135_999
t_140_999
t_153_999
t_165_999
t_167_999
t_174_999
t_186_999
t_196_999
t_213_999
t_277_999
end sum 1
end sum 2
end sum 3
-48

Flight number:  1461
t_367_999
t_368_999
t_369_999
t_370_999
t_371_999
t_372_999
t_373_999
t_374_999
t_375_999
t_376_999
t_377_999
end sum 1
end sum 2
end sum 3
0

Flight number:  1462
t_440_999
t_453_999
t_461_999
t_471_999
t_478_999
t_483_999
t_501_999
t_525_999
end sum 1
end sum 2
end sum 3
40

Flight number:  1470
t_68_999
t_69_999
t_70_999
t_71_999
t_72_999
end sum 1
end sum 2
0.12 t_126_72
0.14 t_128_72
end sum 3
1

Flight number:  1471
t_7_999
t_16_999
t_34_999
t_74_999
end sum 1
end sum 2
end sum 3
-46

Flight number:  1472
t_122_999
t_123_999
t_124_999
t_125_999
t_126_999
t_127_999
t_128_999
t_129_999
t_130_999
end sum 1
t_126_72
t_128_72
end sum 2
end sum 3
129

Flight number:  1473
t_94_999
t_106_999
t_112_999
t_133_999
t_151_999
t_163_999
t_238_999
end sum 1
end sum 2
end sum 3
24

Flight number:  1474
t_298_999
t_299_999
t_300_999
t_301_999
t_302_999
t_303_999
t_304_999
t_305_999
end sum 1
t_304_267
end sum 2
end sum 3
83

Flight number:  1475
t_292_999
t_312_999
t_325_999
t_334_999
t_341_999
t_357_999
t_382_999
t_393_999
t_456_999
end sum 1
t_312_251
end sum 2
end sum 3
152

Flight number:  1476
t_514_999
t_515_999
t_516_999
end sum 1
end sum 2
end sum 3
-27

Flight number:  1477
t_147_999
t_194_999
t_199_999
t_203_999
t_222_999
t_227_999
t_241_999
t_251_999
t_258_999
t_328_999
end sum 1
end sum 2
0.32 t_312_251
end sum 3
102

Flight number:  1478
t_441_999
t_442_999
t_443_999
t_444_999
t_445_999
t_446_999
t_447_999
t_448_999
end sum 1
end sum 2
end sum 3
183

Flight number:  1500
t_162_999
t_163_999
t_164_999
t_165_999
end sum 1
end sum 2
end sum 3
-149

Flight number:  1501
t_63_999
t_69_999
t_102_999
end sum 1
end sum 2
end sum 3
-157

Flight number:  1502
t_220_999
end sum 1
end sum 2
end sum 3
-183

Flight number:  1503
t_77_999
t_78_999
t_79_999
t_80_999
t_81_999
end sum 1
t_80_58
end sum 2
end sum 3
-153

Flight number:  1507
t_20_999
t_84_999
end sum 1
end sum 2
end sum 3
-163

Flight number:  1510
t_132_999
t_133_999
t_134_999
t_135_999
end sum 1
end sum 2
end sum 3
-154

Flight number:  1511
t_67_999
end sum 1
end sum 2
end sum 3
-188

Flight number:  1512
t_541_999
end sum 1
end sum 2
end sum 3
-196

Flight number:  1513
t_289_999
t_302_999
t_309_999
t_425_999
end sum 1
end sum 2
end sum 3
-161

Flight number:  1514
t_487_999
t_488_999
t_489_999
end sum 1
end sum 2
end sum 3
-172

Flight number:  1515
t_263_999
end sum 1
end sum 2
end sum 3
-200

Flight number:  1521
t_317_999
end sum 1
end sum 2
end sum 3
-206

Flight number:  1523
t_182_999
end sum 1
end sum 2
end sum 3
-203

Flight number:  1524
t_206_999
t_230_999
t_244_999
t_269_999
t_331_999
end sum 1
end sum 2
end sum 3
-160

Flight number:  1528
t_426_999
t_427_999
t_428_999
t_429_999
t_430_999
t_431_999
t_432_999
end sum 1
end sum 2
end sum 3
-129

Flight number:  1529
t_463_999
end sum 1
end sum 2
end sum 3
-187

Flight number:  1531
t_536_999
end sum 1
end sum 2
end sum 3
-210

Flight number:  1532
t_354_999
t_448_999
t_452_999
t_518_999
end sum 1
end sum 2
end sum 3
-153

Flight number:  1538
t_52_999
t_53_999
t_54_999
t_55_999
t_56_999
t_57_999
t_58_999
end sum 1
end sum 2
0.35 t_80_58
end sum 3
-143

Flight number:  1591
t_101_999
end sum 1
end sum 2
end sum 3
-203

Flight number:  1596
t_464_999
end sum 1
end sum 2
end sum 3
-205

Flight number:  1597
t_406_999
end sum 1
end sum 2
end sum 3
-198

Flight number:  1600
t_22_999
t_87_999
end sum 1
end sum 2
end sum 3
-101

Flight number:  1642
t_150_999
t_151_999
t_152_999
t_153_999
end sum 1
end sum 2
end sum 3
-79

Flight number:  1643
t_116_999
t_127_999
t_155_999
t_172_999
t_274_999
end sum 1
end sum 2
end sum 3
-90

Flight number:  1644
t_321_999
t_322_999
t_323_999
t_324_999
t_325_999
end sum 1
end sum 2
end sum 3
-80

Flight number:  1645
t_290_999
t_303_999
t_310_999
t_433_999
end sum 1
end sum 2
end sum 3
-80

Flight number:  1646
t_500_999
t_501_999
end sum 1
end sum 2
end sum 3
-101

Flight number:  1647
t_107_999
t_113_999
t_124_999
t_246_999
end sum 1
end sum 2
end sum 3
-121

Flight number:  1650
t_306_999
t_307_999
t_308_999
t_309_999
t_310_999
t_311_999
t_312_999
t_313_999
end sum 1
t_312_251
end sum 2
end sum 3
-52

Flight number:  1651
t_10_999
t_21_999
t_53_999
t_86_999
end sum 1
end sum 2
end sum 3
-120

Flight number:  1652
t_183_999
t_184_999
t_185_999
t_186_999
t_187_999
t_188_999
t_189_999
t_190_999
end sum 1
end sum 2
end sum 3
-94

Flight number:  1653
t_56_999
t_70_999
t_78_999
t_121_999
end sum 1
end sum 2
end sum 3
-103

Flight number:  1654
t_248_999
t_249_999
t_250_999
t_251_999
t_252_999
t_253_999
t_254_999
end sum 1
end sum 2
0.32 t_312_251
end sum 3
-101

Flight number:  1655
t_208_999
t_232_999
t_245_999
t_261_999
t_271_999
t_286_999
t_366_999
end sum 1
end sum 2
end sum 3
-85

Flight number:  1656
t_470_999
t_471_999
t_472_999
end sum 1
end sum 2
end sum 3
-106

Flight number:  1657
t_337_999
t_345_999
t_361_999
t_370_999
t_385_999
t_397_999
t_413_999
t_428_999
t_481_999
end sum 1
end sum 2
end sum 3
-55

Flight number:  1658
t_526_999
end sum 1
end sum 2
end sum 3
-169

Flight number:  1659
t_273_999
end sum 1
end sum 2
end sum 3
-206

Flight number:  1666
t_340_999
t_341_999
t_342_999
end sum 1
end sum 2
end sum 3
-196

Flight number:  1667
t_516_999
t_547_999
end sum 1
end sum 2
end sum 3
-196

Flight number:  1668
t_30_999
t_31_999
t_32_999
t_33_999
t_34_999
t_35_999
t_36_999
t_37_999
end sum 1
end sum 2
end sum 3
-142

Flight number:  1669
t_485_999
t_510_999
t_537_999
end sum 1
end sum 2
end sum 3
-160

Flight number:  1670
t_60_999
t_61_999
t_62_999
t_63_999
t_64_999
t_65_999
t_66_999
end sum 1
end sum 2
end sum 3
-83

Flight number:  1671
t_49_999
t_66_999
t_72_999
t_181_999
end sum 1
end sum 2
0.12 t_126_72
0.14 t_128_72
end sum 3
-113

Flight number:  1672
t_278_999
t_279_999
t_280_999
t_281_999
end sum 1
end sum 2
0.22 t_338_279
end sum 3
-153

Flight number:  1673
t_1_999
t_4_999
t_12_999
t_83_999
t_409_999
end sum 1
end sum 2
end sum 3
-91

Flight number:  1676
t_195_999
t_196_999
t_197_999
t_198_999
t_199_999
end sum 1
end sum 2
end sum 3
-149

Flight number:  1677
t_117_999
t_128_999
t_139_999
t_156_999
t_173_999
t_185_999
t_212_999
t_275_999
end sum 1
t_117_115
t_117_120
t_128_72
end sum 2
end sum 3
-117

Flight number:  1678
t_403_999
t_404_999
end sum 1
end sum 2
end sum 3
-178

Flight number:  1679
t_120_999
t_142_999
t_158_999
t_169_999
t_176_999
t_188_999
t_215_999
t_283_999
end sum 1
end sum 2
0.33 t_117_120
end sum 3
-134

Flight number:  1680
t_411_999
t_412_999
t_413_999
t_414_999
t_415_999
t_416_999
t_417_999
t_418_999
end sum 1
end sum 2
end sum 3
-102

Flight number:  1681
t_359_999
t_368_999
t_384_999
t_395_999
t_427_999
t_474_999
end sum 1
end sum 2
end sum 3
-137

Flight number:  1682
t_528_999
end sum 1
end sum 2
end sum 3
-183

Flight number:  1683
t_149_999
t_205_999
t_229_999
t_243_999
t_253_999
t_259_999
t_268_999
t_330_999
end sum 1
end sum 2
end sum 3
-120

Flight number:  1684
t_109_999
t_115_999
t_126_999
t_184_999
t_262_999
end sum 1
t_126_72
end sum 2
0.36 t_117_115
end sum 3
-146

Flight number:  1688
t_332_999
t_333_999
t_334_999
t_335_999
t_336_999
t_337_999
t_338_999
t_339_999
end sum 1
t_338_279
end sum 2
end sum 3
-111

Flight number:  1689
t_348_999
t_373_999
t_388_999
t_399_999
t_436_999
t_442_999
t_503_999
end sum 1
end sum 2
end sum 3
-97

Flight number:  1690
t_540_999
end sum 1
end sum 2
end sum 3
-192

Flight number:  1691
t_25_999
t_90_999
end sum 1
end sum 2
end sum 3
-161

Flight number:  1692
t_477_999
t_478_999
t_479_999
end sum 1
end sum 2
end sum 3
-153

Flight number:  1693
t_457_999
t_458_999
t_459_999
end sum 1
end sum 2
end sum 3
-164

Flight number:  1700
t_44_999
end sum 1
end sum 2
end sum 3
-209

Flight number:  1722
t_26_999
t_96_999
end sum 1
end sum 2
end sum 3
-203

Flight number:  1724
t_475_999
t_476_999
end sum 1
end sum 2
end sum 3
-202

Flight number:  1725
t_533_999
end sum 1
end sum 2
end sum 3
-212

Flight number:  1731
t_299_999
t_407_999
end sum 1
end sum 2
end sum 3
-200

Flight number:  1734
t_234_999
end sum 1
end sum 2
end sum 3
-206

Flight number:  1735
t_293_999
end sum 1
end sum 2
end sum 3
-210

Flight number:  1736
t_378_999
t_379_999
t_380_999
end sum 1
end sum 2
end sum 3
-198

Flight number:  1737
t_23_999
t_89_999
end sum 1
end sum 2
end sum 3
-138

Flight number:  1750
t_166_999
t_167_999
t_168_999
t_169_999
t_170_999
end sum 1
end sum 2
end sum 3
-135

Flight number:  1751
t_145_999
t_161_999
t_179_999
t_190_999
t_217_999
t_249_999
t_256_999
t_297_999
end sum 1
end sum 2
end sum 3
-120

Flight number:  1754
t_381_999
t_382_999
t_383_999
t_384_999
t_385_999
t_386_999
t_387_999
t_388_999
t_389_999
t_390_999
t_391_999
end sum 1
end sum 2
end sum 3
-76

Flight number:  1755
t_119_999
t_130_999
t_141_999
t_157_999
t_168_999
t_175_999
t_187_999
t_197_999
t_214_999
t_282_999
end sum 1
end sum 2
end sum 3
-98

Flight number:  1756
t_355_999
t_356_999
t_357_999
t_358_999
t_359_999
t_360_999
t_361_999
t_362_999
t_363_999
end sum 1
end sum 2
end sum 3
-98

Flight number:  1757
t_336_999
t_344_999
t_360_999
t_369_999
t_396_999
t_412_999
t_480_999
end sum 1
end sum 2
end sum 3
-93

Flight number:  1758
t_522_999
end sum 1
end sum 2
end sum 3
-168

Flight number:  1759
t_339_999
t_349_999
t_374_999
t_389_999
t_400_999
t_415_999
t_430_999
t_437_999
t_443_999
t_504_999
end sum 1
end sum 2
end sum 3
-65

Flight number:  1790
t_529_999
end sum 1
end sum 2
end sum 3
-179

Flight number:  1800
t_364_999
end sum 1
end sum 2
end sum 3
-201

Flight number:  1801
t_235_999
end sum 1
end sum 2
end sum 3
-200

Flight number:  1802
t_236_999
end sum 1
end sum 2
end sum 3
-190

Flight number:  1803
t_314_999
end sum 1
end sum 2
end sum 3
-211

Flight number:  1810
t_315_999
end sum 1
end sum 2
end sum 3
-196

Flight number:  1811
t_97_999
t_98_999
end sum 1
end sum 2
end sum 3
-199

Flight number:  1815
t_523_999
end sum 1
end sum 2
end sum 3
-158

Flight number:  1816
t_51_999
t_111_999
t_123_999
t_237_999
end sum 1
end sum 2
end sum 3
-153

Flight number:  1820
t_351_999
t_445_999
t_506_999
end sum 1
end sum 2
end sum 3
-187

Flight number:  1821
t_524_999
end sum 1
end sum 2
end sum 3
-95

Flight number:  1822
t_18_999
t_36_999
t_76_999
end sum 1
end sum 2
end sum 3
-155

Flight number:  1823
t_38_999
end sum 1
end sum 2
end sum 3
-112

Flight number:  1824
t_534_999
end sum 1
end sum 2
end sum 3
-190

Flight number:  1825
t_6_999
t_7_999
t_8_999
t_9_999
t_10_999
end sum 1
end sum 2
end sum 3
-162

Flight number:  1830
t_55_999
t_62_999
t_99_999
end sum 1
end sum 2
end sum 3
-72

Flight number:  1831
t_239_999
t_240_999
t_241_999
t_242_999
t_243_999
t_244_999
t_245_999
end sum 1
end sum 2
end sum 3
-61

Flight number:  1832
t_31_999
t_40_999
end sum 1
end sum 2
end sum 3
-149

Flight number:  1833
t_110_999
t_111_999
t_112_999
t_113_999
t_114_999
t_115_999
t_116_999
t_117_999
t_118_999
t_119_999
t_120_999
end sum 1
t_117_115
t_117_120
end sum 2
0.36 t_117_115
0.33 t_117_120
end sum 3
42

Flight number:  1836
t_338_999
t_342_999
t_346_999
t_362_999
t_371_999
t_379_999
t_386_999
t_398_999
t_414_999
t_429_999
t_490_999
end sum 1
t_338_279
end sum 2
end sum 3
59

Flight number:  1837
t_535_999
end sum 1
end sum 2
end sum 3
-147

Flight number:  1840
t_207_999
t_223_999
t_231_999
t_254_999
t_260_999
t_270_999
t_279_999
t_365_999
end sum 1
end sum 2
0.22 t_338_279
end sum 3
-27

Flight number:  1841
t_482_999
t_483_999
t_484_999
t_485_999
t_486_999
end sum 1
end sum 2
end sum 3
-57

Flight number:  1842
t_294_999
end sum 1
end sum 2
end sum 3
-199

Flight number:  1843
t_191_999
end sum 1
end sum 2
end sum 3
-200

Flight number:  1844
t_144_999
t_160_999
t_178_999
t_296_999
end sum 1
end sum 2
end sum 3
-174

Flight number:  1845
t_460_999
t_461_999
end sum 1
end sum 2
end sum 3
-156

Flight number:  1848
t_73_999
end sum 1
end sum 2
end sum 3
-187

Flight number:  1849
t_221_999
t_222_999
t_223_999
end sum 1
end sum 2
end sum 3
-175

Flight number:  1850
t_32_999
t_42_999
end sum 1
end sum 2
end sum 3
-177

Flight number:  1851
t_138_999
t_139_999
t_140_999
t_141_999
t_142_999
t_143_999
t_144_999
t_145_999
t_146_999
t_147_999
t_148_999
t_149_999
end sum 1
end sum 2
end sum 3
-58

Flight number:  1852
t_29_999
t_136_999
end sum 1
end sum 2
end sum 3
-203

Flight number:  1853
t_318_999
t_319_999
end sum 1
end sum 2
end sum 3
-206

Flight number:  1854
t_295_999
end sum 1
end sum 2
end sum 3
-209

Flight number:  1864
t_41_999
end sum 1
end sum 2
end sum 3
-189

Flight number:  1865
t_92_999
t_93_999
t_94_999
t_95_999
end sum 1
end sum 2
end sum 3
-157

Flight number:  1866
t_347_999
t_363_999
t_372_999
t_387_999
t_491_999
end sum 1
end sum 2
end sum 3
-145

Flight number:  1867
t_530_999
end sum 1
end sum 2
end sum 3
-188

Flight number:  1870
t_192_999
end sum 1
end sum 2
end sum 3
-191

Flight number:  1871
t_419_999
end sum 1
end sum 2
end sum 3
-208

Flight number:  1872
t_180_999
t_201_999
t_225_999
t_265_999
t_316_999
end sum 1
end sum 2
end sum 3
-158

Flight number:  1873
t_465_999
t_466_999
t_467_999
t_468_999
t_469_999
end sum 1
end sum 2
end sum 3
-162

Flight number:  1874
t_320_999
end sum 1
end sum 2
end sum 3
-200

Flight number:  1875
t_473_999
end sum 1
end sum 2
end sum 3
-179

Flight number:  1878
t_43_999
end sum 1
end sum 2
end sum 3
-211

Flight number:  1879
t_193_999
t_194_999
end sum 1
end sum 2
end sum 3
-199

Flight number:  1882

In [162]:
# Create the pricing problem (PP)

tpr_prime = {}
# tpr = (fare_p - sum (π_i) for i being each flight in path p) - bpr * (fare_r - sum (π_j) for j being each flight in path p)) - σ_p
for p,r in P_p.keys():
    t_prime_pr = ((paths[p]['Fare'] - sum(pi_dual[i] for i in paths[p]['Legs'])) -
                      (P_p[(p,r)]['Recapture rate']) *
                      (paths[r]['Fare'] - sum(pi_dual[j] for j in paths[r]['Legs'])) -
                      (sigma_dual[p]))
    if t_prime_pr < 0:
        tpr_prime[p,r] = t_prime_pr

new_pairs = list(tpr_prime.keys())
print(new_pairs)

# Add the new columns to the model
new_p = []
for p,r in new_pairs:
    new_p.append(p)

if len(new_p) == 0:
    print('Optimal solution found')

[(80, 58), (265, 123), (304, 267), (312, 251)]

In [163]:
# Objective function test
for r in initial:
    for p in path_list:
        print((paths[p]['Fare'] - P_p[(p,r)]['Recapture rate'] * paths[r]['Fare']) * t[p,r])

for p,r in new_pairs:
    print(paths[p]['Fare'] - P_p[(p, r)]['Recapture rate'] * paths[r]['Fare'] * t[p,r])

105.0 t_0_999
52.0 t_1_999
53.0 t_2_999
104.0 t_3_999
54.0 t_4_999
53.0 t_5_999
45.0 t_6_999
97.0 t_7_999
90.0 t_8_999
99.0 t_9_999
104.0 t_10_999
109.0 t_11_999
50.0 t_12_999
52.0 t_13_999
48.0 t_14_999
95.0 t_15_999
106.0 t_16_999
99.0 t_17_999
100.0 t_18_999
96.0 t_19_999
95.0 t_20_999
92.0 t_21_999
99.0 t_22_999
102.0 t_23_999
94.0 t_24_999
45.0 t_25_999
50.0 t_26_999
53.0 t_27_999
85.0 t_28_999
45.0 t_29_999
54.0 t_30_999
103.0 t_31_999
91.0 t_32_999
99.0 t_33_999
94.0 t_34_999
95.0 t_35_999
91.0 t_36_999
105.0 t_37_999
92.0 t_38_999
100.0 t_39_999
99.0 t_40_999
45.0 t_41_999
50.0 t_42_999
52.0 t_43_999
50.0 t_44_999
48.0 t_45_999
106.0 t_46_999
45.0 t_47_999
127.0 t_48_999
47.0 t_49_999
51.0 t_50_999
47.0 t_51_999
46.0 t_52_999
91.0 t_53_999
97.0 t_54_999
98.0 t_55_999
100.0 t_56_999
92.0 t_57_999
106.0 t_58_999
67.0 t_59_999
67.0 t_60_999
98.0 t_61_999
104.0 t_62_999
94.0 t_63_999
93.0 t_64_999
98.0 t_65_999
105.0 t_66_999
53.0 t_67_999
138.0 t_68_999
90.0 t_69_999
107.0 t_70_999
96.0 t_71_999
95.0 t_72_999
47.0 t_73_999
192.0 t_74_999
153.0 t_75_999
74.0 t_76_999
48.0 t_77_999
102.0 t_78_999
93.0 t_79_999
91.0 t_80_999
97.0 t_81_999
241.0 t_82_999
60.0 t_83_999
55.0 t_84_999
95.0 t_85_999
124.0 t_86_999
45.0 t_87_999
53.0 t_88_999
115.0 t_89_999
57.0 t_90_999
103.0 t_91_999
51.0 t_92_999
90.0 t_93_999
98.0 t_94_999
106.0 t_95_999
47.0 t_96_999
52.0 t_97_999
96.0 t_98_999
136.0 t_99_999
64.0 t_100_999
105.0 t_101_999
50.0 t_102_999
126.0 t_103_999
126.0 t_104_999
92.0 t_105_999
96.0 t_106_999
100.0 t_107_999
100.0 t_108_999
93.0 t_109_999
154.0 t_110_999
45.0 t_111_999
50.0 t_112_999
52.0 t_113_999
47.0 t_114_999
48.0 t_115_999
49.0 t_116_999
45.0 t_117_999
45.0 t_118_999
45.0 t_119_999
53.0 t_120_999
111.0 t_121_999
308.0 t_122_999
105.0 t_123_999
93.0 t_124_999
106.0 t_125_999
92.0 t_126_999
92.0 t_127_999
105.0 t_128_999
104.0 t_129_999
104.0 t_130_999
146.0 t_131_999
51.0 t_132_999
105.0 t_133_999
95.0 t_134_999
91.0 t_135_999
51.0 t_136_999
201.0 t_137_999
128.0 t_138_999
93.0 t_139_999
105.0 t_140_999
104.0 t_141_999
102.0 t_142_999
96.0 t_143_999
90.0 t_144_999
96.0 t_145_999
105.0 t_146_999
93.0 t_147_999
105.0 t_148_999
101.0 t_149_999
47.0 t_150_999
109.0 t_151_999
106.0 t_152_999
104.0 t_153_999
132.0 t_154_999
109.0 t_155_999
93.0 t_156_999
108.0 t_157_999
108.0 t_158_999
108.0 t_159_999
105.0 t_160_999
90.0 t_161_999
53.0 t_162_999
106.0 t_163_999
101.0 t_164_999
103.0 t_165_999
63.0 t_166_999
97.0 t_167_999
98.0 t_168_999
108.0 t_169_999
103.0 t_170_999
175.0 t_171_999
45.0 t_172_999
53.0 t_173_999
45.0 t_174_999
50.0 t_175_999
47.0 t_176_999
47.0 t_177_999
49.0 t_178_999
47.0 t_179_999
49.0 t_180_999
58.0 t_181_999
52.0 t_182_999
80.0 t_183_999
97.0 t_184_999
102.0 t_185_999
103.0 t_186_999
109.0 t_187_999
102.0 t_188_999
96.0 t_189_999
109.0 t_190_999
47.0 t_191_999
50.0 t_192_999
53.0 t_193_999
97.0 t_194_999
48.0 t_195_999
103.0 t_196_999
98.0 t_197_999
105.0 t_198_999
109.0 t_199_999
179.0 t_200_999
46.0 t_201_999
53.0 t_202_999
47.0 t_203_999
54.0 t_204_999
51.0 t_205_999
50.0 t_206_999
51.0 t_207_999
54.0 t_208_999
112.0 t_209_999
98.0 t_210_999
102.0 t_211_999
98.0 t_212_999
100.0 t_213_999
99.0 t_214_999
94.0 t_215_999
105.0 t_216_999
97.0 t_217_999
90.0 t_218_999
136.0 t_219_999
52.0 t_220_999
49.0 t_221_999
105.0 t_222_999
107.0 t_223_999
313.0 t_224_999
51.0 t_225_999
54.0 t_226_999
76.0 t_227_999
47.0 t_228_999
47.0 t_229_999
47.0 t_230_999
47.0 t_231_999
46.0 t_232_999
45.0 t_233_999
45.0 t_234_999
45.0 t_235_999
48.0 t_236_999
58.0 t_237_999
223.0 t_238_999
97.0 t_239_999
54.0 t_240_999
48.0 t_241_999
54.0 t_242_999
53.0 t_243_999
45.0 t_244_999
54.0 t_245_999
61.0 t_246_999
174.0 t_247_999
87.0 t_248_999
102.0 t_249_999
108.0 t_250_999
101.0 t_251_999
99.0 t_252_999
94.0 t_253_999
97.0 t_254_999
102.0 t_255_999
107.0 t_256_999
105.0 t_257_999
104.0 t_258_999
107.0 t_259_999
96.0 t_260_999
107.0 t_261_999
59.0 t_262_999
102.0 t_263_999
231.0 t_264_999
100.0 t_265_999
95.0 t_266_999
103.0 t_267_999
102.0 t_268_999
99.0 t_269_999
101.0 t_270_999
95.0 t_271_999
109.0 t_272_999
53.0 t_273_999
54.0 t_274_999
74.0 t_275_999
104.0 t_276_999
75.0 t_277_999
50.0 t_278_999
98.0 t_279_999
100.0 t_280_999
102.0 t_281_999
54.0 t_282_999
68.0 t_283_999
50.0 t_284_999
78.0 t_285_999
105.0 t_286_999
97.0 t_287_999
94.0 t_288_999
104.0 t_289_999
100.0 t_290_999
96.0 t_291_999
109.0 t_292_999
46.0 t_293_999
45.0 t_294_999
49.0 t_295_999
45.0 t_296_999
60.0 t_297_999
210.0 t_298_999
106.0 t_299_999
98.0 t_300_999
102.0 t_301_999
94.0 t_302_999
102.0 t_303_999
99.0 t_304_999
104.0 t_305_999
79.0 t_306_999
94.0 t_307_999
108.0 t_308_999
107.0 t_309_999
97.0 t_310_999
91.0 t_311_999
108.0 t_312_999
101.0 t_313_999
53.0 t_314_999
50.0 t_315_999
46.0 t_316_999
109.0 t_317_999
45.0 t_318_999
103.0 t_319_999
46.0 t_320_999
53.0 t_321_999
90.0 t_322_999
96.0 t_323_999
98.0 t_324_999
106.0 t_325_999
126.0 t_326_999
53.0 t_327_999
176.0 t_328_999
54.0 t_329_999
55.0 t_330_999
48.0 t_331_999
47.0 t_332_999
107.0 t_333_999
103.0 t_334_999
106.0 t_335_999
90.0 t_336_999
97.0 t_337_999
101.0 t_338_999
96.0 t_339_999
53.0 t_340_999
94.0 t_341_999
90.0 t_342_999
143.0 t_343_999
54.0 t_344_999
50.0 t_345_999
67.0 t_346_999
49.0 t_347_999
51.0 t_348_999
52.0 t_349_999
116.0 t_350_999
53.0 t_351_999
51.0 t_352_999
50.0 t_353_999
54.0 t_354_999
60.0 t_355_999
100.0 t_356_999
100.0 t_357_999
92.0 t_358_999
98.0 t_359_999
107.0 t_360_999
105.0 t_361_999
95.0 t_362_999
93.0 t_363_999
50.0 t_364_999
106.0 t_365_999
66.0 t_366_999
70.0 t_367_999
93.0 t_368_999
97.0 t_369_999
99.0 t_370_999
103.0 t_371_999
108.0 t_372_999
96.0 t_373_999
106.0 t_374_999
99.0 t_375_999
95.0 t_376_999
108.0 t_377_999
51.0 t_378_999
95.0 t_379_999
105.0 t_380_999
45.0 t_381_999
103.0 t_382_999
97.0 t_383_999
105.0 t_384_999
90.0 t_385_999
94.0 t_386_999
93.0 t_387_999
93.0 t_388_999
103.0 t_389_999
104.0 t_390_999
98.0 t_391_999
47.0 t_392_999
100.0 t_393_999
90.0 t_394_999
103.0 t_395_999
94.0 t_396_999
98.0 t_397_999
107.0 t_398_999
100.0 t_399_999
91.0 t_400_999
109.0 t_401_999
103.0 t_402_999
49.0 t_403_999
109.0 t_404_999
48.0 t_405_999
98.0 t_406_999
46.0 t_407_999
241.0 t_408_999
57.0 t_409_999
80.0 t_410_999
83.0 t_411_999
105.0 t_412_999
100.0 t_413_999
96.0 t_414_999
108.0 t_415_999
107.0 t_416_999
104.0 t_417_999
101.0 t_418_999
54.0 t_419_999
64.0 t_420_999
107.0 t_421_999
143.0 t_422_999
98.0 t_423_999
149.0 t_424_999
51.0 t_425_999
49.0 t_426_999
108.0 t_427_999
104.0 t_428_999
103.0 t_429_999
96.0 t_430_999
99.0 t_431_999
105.0 t_432_999
58.0 t_433_999
262.0 t_434_999
114.0 t_435_999
100.0 t_436_999
93.0 t_437_999
109.0 t_438_999
98.0 t_439_999
96.0 t_440_999
281.0 t_441_999
108.0 t_442_999
92.0 t_443_999
104.0 t_444_999
107.0 t_445_999
94.0 t_446_999
105.0 t_447_999
98.0 t_448_999
121.0 t_449_999
99.0 t_450_999
103.0 t_451_999
91.0 t_452_999
97.0 t_453_999
106.0 t_454_999
135.0 t_455_999
254.0 t_456_999
53.0 t_457_999
104.0 t_458_999
97.0 t_459_999
79.0 t_460_999
92.0 t_461_999
127.0 t_462_999
103.0 t_463_999
105.0 t_464_999
49.0 t_465_999
107.0 t_466_999
109.0 t_467_999
105.0 t_468_999
104.0 t_469_999
89.0 t_470_999
101.0 t_471_999
104.0 t_472_999
54.0 t_473_999
57.0 t_474_999
53.0 t_475_999
104.0 t_476_999
61.0 t_477_999
92.0 t_478_999
106.0 t_479_999
101.0 t_480_999
110.0 t_481_999
141.0 t_482_999
54.0 t_483_999
48.0 t_484_999
54.0 t_485_999
49.0 t_486_999
54.0 t_487_999
96.0 t_488_999
95.0 t_489_999
190.0 t_490_999
49.0 t_491_999
128.0 t_492_999
48.0 t_493_999
49.0 t_494_999
47.0 t_495_999
52.0 t_496_999
49.0 t_497_999
53.0 t_498_999
105.0 t_499_999
48.0 t_500_999
95.0 t_501_999
52.0 t_502_999
83.0 t_503_999
64.0 t_504_999
173.0 t_505_999
54.0 t_506_999
184.0 t_507_999
80.0 t_508_999
128.0 t_509_999
100.0 t_510_999
90.0 t_511_999
61.0 t_512_999
49.0 t_513_999
199.0 t_514_999
99.0 t_515_999
94.0 t_516_999
155.0 t_517_999
52.0 t_518_999
53.0 t_519_999
107.0 t_520_999
51.0 t_521_999
51.0 t_522_999
91.0 t_523_999
104.0 t_524_999
216.0 t_525_999
51.0 t_526_999
105.0 t_527_999
52.0 t_528_999
46.0 t_529_999
46.0 t_530_999
83.0 t_531_999
99.0 t_532_999
47.0 t_533_999
49.0 t_534_999
97.0 t_535_999
50.0 t_536_999
54.0 t_537_999
99.0 t_538_999
68.0 t_539_999
52.0 t_540_999
48.0 t_541_999
62.0 t_542_999
49.0 t_543_999
102.0 t_544_999
114.0 t_545_999
51.0 t_546_999
54.0 t_547_999
119.0 t_548_999
0.0 t_999_999
91.0 + -37.099999999999994 t_80_58

KeyError: (265, 123)